data/embeddings/glove_word_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
data/embeddings/openai_word_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
data/embeddings/word2vec_word_embeddings.pkl filter=lfs diff=lfs merge=lfs -text